<?xml version="1.0"?>
<!--
/**
 * module.xml
 *
 * @author     Konstantin Esin <hello@eleanorsoft.com>
 * @package    Eleanorsoft_DiCompile
 * @copyright  Copyright (c) 2017 Eleanorsoft (https://www.eleanorsoft.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eleanorsoft_DiCompile" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Setup" />
        </sequence>
    </module>
</config>